{% extends "layout.html" %} {% block title %} Completar compra {% endblock %} {%
block main %}
<div id="data" style="display: none;">{{ items | tojson | safe }}</div>
<form id="order-form" class="container" action="/submit" method="post">
  <div class="row">
    <!-- second column -->
    <div class="col-md-5 order-md-2">
      <div class="class=h-100 p-5 bg-light rounded-3">
        <div class="col-12 col-lg-auto mb-2 mb-lg-0 me-lg-auto" role="name">
          <h4>Datos Personales</h4>
          <input
            type="text"
            name="name"
            class="form-control mb-2"
            placeholder="Nombre"
            aria-label="Name"
            required
          />
          <input
            type="text"
            name="phone"
            class="form-control mb-2"
            placeholder="WhatsApp"
            aria-label="Phone"
            required
          />
          <input
            type="text"
            name="email"
            class="form-control mb-2"
            placeholder="Email"
            aria-label="Email"
            required
          />
        </div>
      </div>
    </div>

    <!-- first column -->
    <div class="col-md-5 order-md-1 offset-lg-1">
      <div class="class=h-100 p-2">
        <div class="col-12 col-lg-auto mb-2 mb-lg-0 me-lg-auto" role="name">
          <div class="container border-bottom mb-4">
            <h4 class="pb-4">Productos en el carro</h4>

            <div class="row">
              <div class="col pr-0">
                <ul id="list-container" class="list-unstyled">

<!-- Start of list item -->   

                </ul>
              </div>
            </div>
          </div>
          <div class="container al-right pt-0">
            <small id="items-total">0 items en el carro</small>
            <h4><span class="h6 text-indigo">Total </span><span id="order-total"></span></h4>
            <button class="btn btn-primary" type="button" onclick="completeOrder();">
              Finalizar orden
            </button>
          </div>
        </d>
      </div>
    </div>
    <!-- End of column -->
  </div>
</form>
<script>
  let cartItems = [];
  let cartUnits = 0;
  document.addEventListener('DOMContentLoaded', function() {
    let dataElement = document.getElementById('data');
    let data = JSON.parse(dataElement.textContent);
    for (let i = 0; i < data.length; i++) {
      cartItems.push(data[i]);     
    }
    drawList();
  });
  function drawList(){
  let listHTML = "";
  let total = 0;
  cartUnits = 0;
    for (let i = 0; i < cartItems.length; i++) {
      listHTML += generateItem(cartItems[i]);  
      total += cartItems[i].price * cartItems[i].amount;
      cartUnits += cartItems[i].amount;
    }
    
    let itemsStr = (cartUnits == 1) ? "1 item en el carro": cartUnits + " items en el carro";
    document.querySelector('#list-container').innerHTML = listHTML;
    document.querySelector('#order-total').innerHTML = formatCurrency(total);
    document.querySelector('#items-total').innerHTML = itemsStr;
    
}
function formatCurrency(amount) {
    return new Intl.NumberFormat('en-US', {
        style: 'currency',
        currency: 'USD',
    }).format(amount);
}
function increaseItem(id) {
    let p = cartItems.find(function(product) {
    return product.id === id;});
    if(p.amount < p.stock){
      p.amount++;
      drawList();
    }
    else {
      showAlert("Llegaste al límite de stock dispnible.", "info");
    }   
  }
  function reduceItem(id) {
    let p = cartItems.find(function(product) {
    return product.id === id;});
    if(p.amount > 1){
      p.amount--;
      drawList();
    } else {
      removeItem(id);
    }  
  }
  function removeItem(id) {
    let p = cartItems.filter(function(product) {
    return product.id !== id;});
    cartItems = p;
    drawList();  
  }
  function showAlert(message, type) {
            let alertType = "alert-" + type;
            let alertElement = document.createElement('div');
            alertElement.classList.add('alert', alertType, 'alert-dismissible', 'fade', 'show');
            alertElement.setAttribute('role', 'alert');
            alertElement.innerHTML = message + `
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                
            `;

            document.getElementById('alertContainer').appendChild(alertElement);

            setTimeout(function() {
                let bsAlert = new bootstrap.Alert(alertElement);
                bsAlert.close();
            }, 1500);
}
function completeOrder(){
  if (cartItems.length == 0 || cartUnits < 1) {
    showAlert("El carrito está vacío", "danger");
    return false;
  }
  let form = document.getElementById('order-form');
  let elements = form.elements;

  for (let i = 0; i < elements.length; i++) {
    let element = form.elements[i];
    if (element.type !== 'submit' && element.type !== 'button' && element.value.trim() === '') {
            showAlert('Por favor complete todos los campos', 'danger');
            console.log(element)
            return false;
    } 
    if (element.name == "email" && !validateEmail(element.value)){
      showAlert('Por favor introduzca una cuenta de correo válida', 'danger');
      return false;
    }
  }
  showAlert("Cachín! compra completa", "success");
  
}
function validateEmail(email) {
  const regex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
  return regex.test(email);
}
function generateItem(product){
  let text = `
  <li class="row mx-0 mb-4 align-items-center">
                    <button
                    type="button"
                    class="btn-close btn-sm"
                    onClick="removeItem(${product.id});"
                    aria-label="Remove"
                  ></button>
                    <a href="#" class="col-2">
                      <img
                        src=${product.thumbnail}
                        alt="Product"
                        class="list-snap-img"
                      />
                    </a>
                    <div class="col pr-0">
                      <table>
                        <tbody>
                          <tr>
                            <td class="w-100">
                              <a href="#">
                                <h2 class="h6 mb-1">
                                  ${product.brand} - ${product.title}
                                </h2>
                              </a>
                              <div class="post-meta font-small">
                                <p class="me-3">${formatCurrency(product.price)}</p>
                              </div>
                            </td>
                            <td><div style="width: 4px;"></div></td>
                            <td class="al-right pl-6">
                              <div class="container">
                                <h4>
                                  <span class="h6 text-indigo"></span>${formatCurrency(product.price * product.amount)}
                                </h4>
                                <div class="cart-controls justify-content-end">
                                  
                                    <button
                                      class="btn btn-secondary btn-ad-rem-cart"
                                      type="button"
                                      id="subtractButton"
                                      onclick="reduceItem(${product.id})"
                                    >
                                      -
                                    </button>
                                  
                                  <input
                                    type="text"
                                    class="form-control text-center input-quantity"
                                    value="${product.amount}"
                                    id="quantity"
                                    readonly
                                  />
                                  
                                    <button
                                      class="btn btn-secondary btn-ad-rem-cart"
                                      type="button"
                                      id="addButton"
                                      onclick="increaseItem(${product.id})"
                                    >
                                      +
                                    </button>
                                  
                                </div>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </li>
  `;
  return text;
}  

</script>
{% endblock %}
