{% extends "adm_layout.html" %} {% block title %} Ventas {% endblock %} {% block
main %}
<div id="data" style="display: none;">{{ orders | tojson | safe }}</div>
<div
  class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
>
  <h1 class="h2">Ventas</h1>
</div>
<div class="row p-5 pb-0">
  <div class="col-lg-3 col-md-4 mb-3">
    <select id="date-filter" class="form-select" onchange="filterByDate();">
      <option value="0" disabled selected>Fechas</option>
      <option value="1">Hoy</option>
      <option value="7">Esta semana</option>
      <option value="31">Este mes</option>
      <option value="0">Todas</option>
    </select>
  </div>
  <div class="col-lg-3 col-md-4 mb-3">
    <select id="state-filter" class="form-select" onchange="filterByState();">
      <option value="0" disabled selected>Estado</option>
      <option value="pending" >Pendientes</option>
      <option value="paid" >Pagadas</option>
      <option value="completed" >Finalizadas</option>
      <option value="cancelled" >Canceladas</option>
      <option value="0" >Todas</option>
    </select>
  </div>
 
</div>
<div id="orders-table-container" class="row p-5">
  <!-- orders table -->
</div>

<script>
  let orders = [];
  $(document).ready(function () {
    $(".toggle-button").click(function () {
      $(this).closest("tr").next(".product-row").toggle();
    });
  });
  document.addEventListener('DOMContentLoaded', function() {
    let dataElement = document.getElementById('data');
    let data = JSON.parse(dataElement.textContent);
    for (let i = 0; i < data.length; i++) {
      orders.push(data[i]);     
    }
    let tableContainer = document.getElementById('orders-table-container');
    tableContainer.innerHTML = drawOrders(orders);

  });
  function filterByDate(){
    
    let days = document.getElementById("date-filter").value;
    const today = new Date();
    const old = new Date(today);
    let tableContainer = document.getElementById('orders-table-container');
    
    switch (days) {
        case '0':
            tableContainer.innerHTML = drawOrders(orders);
            break;
        default:
            old.setDate(today.getDate() - days);
            let forders = orders.filter(order => new Date(order.date) > old);
            tableContainer.innerHTML = drawOrders(forders);
            break;
        }
  }
  function filterByState(){
    let tableContainer = document.getElementById('orders-table-container');
    let state = document.getElementById("state-filter").value;

    if (state != '0'){
        forders = orders.filter(order => order.status == state);
        tableContainer.innerHTML = drawOrders(forders);
    } else {
        tableContainer.innerHTML = drawOrders(orders);
    }
  }

  function drawOrders(ords){
    let tableHTML = `
    <table class="table">
    <thead>
      <tr>
        <th scope="col"><small>ID</small></th>
        <th scope="col"><small>Detalles</small></th>
        <th scope="col"><small>Fecha</small></th>
        <th scope="col"><small>Cliente</small></th>
        <th scope="col" class="al-right"><small>Total</small></th>
        <th scope="col"><small>Estado</small></th>
        <th scope="col"><small>Acciones</small></th>
      </tr>
    </thead>
    <tbody>`;
    let tableEndHTML = `</tbody></table>`;

    for (let i = 0; i < ords.length; i++) {
        const o = ords[i];
        tableHTML += ` <tr>
        <th><small>#${o.id}</small></th>
        <td class="text-center">
          <button class="toggle-button btn btn-dark btn-sm">+</button>
        </td>
        <td>${formatDate(o.date)}</td>
        <td>${o.client}</td>
        <td class="al-right">${formatCurrency(o.total)}</td>
        ${stateHTML(o.status, o.id)}
      </tr>
      <tr class="product-row">
        <td colspan="7">
          <table class="product-table">
            ${drawOrderItems(o.items)}
          </table>
        </td>
      </tr>`;
        
    }
    tableHTML += tableEndHTML;

  return tableHTML;


  }

function drawOrderItems(items){
    let itemsHTML = "";
    for (let i = 0; i < items.length; i++) {
        const e = items[i];

        itemsHTML += `
        <tr>
            <td><small class="text-black-50">${e.amount}x ${e.title}</small></td>
            <td><small class="text-black-50">${formatCurrency(e.price)}</small></td>
        </tr>
        `;
        
    }

    return itemsHTML;
}
function stateHTML(status, id){
    let dict = {};
    switch (status) {
        case 'pending':
            dict['status'] = 'Pendiente';
            dict['bgColor'] = 'bg-warning';
            dict['buttons'] = `
            <button type="button" onclick="updateOrder(${id},2);" class="btn btn-secondary btn-sm">
            Pagado
            </button>
            <button type="button" onclick="updateOrder(${id},4);"  class="btn btn-outline-danger btn-sm">
            Cancelar
            </button>
            `;
            break;
        case 'paid':
            dict['status'] = 'Pagado';
            dict['bgColor'] = 'bg-secondary';
            dict['buttons'] = `
            <button type="button" onclick="updateOrder(${id},3);" class="btn btn-success btn-sm">
            Finalizar
            </button>
            <button type="button" onclick="updateOrder(${id},4);" class="btn btn-outline-danger btn-sm">
            Cancelar
            </button>
            `;
            break;
        case 'completed':
            dict['status'] = 'Finalizada';
            dict['bgColor'] = 'bg-success';
            dict['buttons'] = "";
            break;
        case 'cancelled':
            dict['status'] = 'Cancelada';
            dict['bgColor'] = 'bg-danger';
            dict['buttons'] = "";
            break;
    }

    return `<td>
          <div class="d-flex align-items-center">
            <div class="state-circle me-2 ${dict.bgColor}"></div>
            <span>${dict.status}</span>
          </div>
        </td>
        <td>
          ${dict.buttons}
        </td>`;
}

function updateOrder(id, status){
    let form = document.createElement('form');
    form.setAttribute('method', 'POST');
    form.setAttribute('action', '/update_orders');
    let input_id = document.createElement('input');
    input_id.setAttribute('type', 'hidden');
    input_id.setAttribute('name', 'id'); 
    input_id.setAttribute('value', id);

    let input_st = document.createElement('input');
    input_st.setAttribute('type', 'hidden');
    input_st.setAttribute('name', 'status'); 
    input_st.setAttribute('value', status);

    form.appendChild(input_id);
    form.appendChild(input_st);

    document.body.appendChild(form);
    form.submit();

}

function formatDate(timestamp) {
  const date = new Date(timestamp);
  const months = [
    "Ene", "Feb", "Mar", "Abr", "May", "Jun",
    "Jul", "Ago", "Sep", "Oct", "Nov", "Dic"
  ];
  const day = String(date.getDate()).padStart(2, '0');
  const month = months[date.getMonth()];
  const year = date.getFullYear();

  return `${day}-${month}-${year}`;
}

function formatCurrency(amount) {
    return new Intl.NumberFormat('en-US', {
        style: 'currency',
        currency: 'USD',
    }).format(amount);
}







</script>

{% endblock %}
