{% extends "layout.html" %} {% block title %} Completar compra {% endblock %} {%
    block main %}
    
    <div class="bg-primary text-secondary px-4 py-5 text-center">
        <div class="py-5">
          <h1 class="display-5 fw-bold text-white">Orden completada exitosamente</h1>
          <div class="col-lg-6 mx-auto">
            <p class="mb-4 text-white">Tu orden se procesó correctamente y en breve nos vamos a poner en contacto para coordinar el pago y la entrega. Gracias por tu compra.</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
              <a type="button" class="btn btn-secondary btn-lg px-4 me-sm-3 fw-bold" href="/">Volver a la tienda</a>
            </div>
          </div>
        </div>
      </div>

    {% endblock %}
    